<div class="span">
    <div class="row">
        <div class="span2 center filterAll" data-keyword="0"><i class="icon-list"></i><br>All Orders</div>
        <div class="span2 center filterWillCall " data-keyword="1" ><i class="icon-list"></i><br>Will Call</div>
        <div class="span2 center filterExpress" data-keyword="2"><i class="icon-list"></i><br>Express</div>
        <div class="span2 center filterTruck" data-keyword="3"><i class="icon-list"></i><br>Truck</div>
    </div>
    <div class="row center boldText" >Filter View</div>
</div>

<div class="span">
    <div class="row">
        <div class="span2 center process" data-keyword="process"><i class="icon-enter"></i><br>Process</div>
    </div>
    <div class="row center boldText">Action</div>
</div>


